In [2]:
def insertSkill(skil):
    skil_name = str(input("Enter your Skill: "))
    skil.append(skil_name)
    
def add_item(dic,key,value):
    dic[key] = value
    
def addPersonInformation(allData):
    single_person = {}
    skills = []
    degree = {} 
    name = str(input("Enter your name: "))
    age = int(input("Enter your age: "))
    work = str(input("Enter your work: "))
    insertSkill(skills)
    while True:
        ans = str(input("Do you want to add more skills?y/n : "))
        if ans=='y':
            insertSkill(skills)
        elif ans == 'n':
            break;
        else:
            print("invalid value: please add y/n")
            
    v = input("input Degree title: ")
    add_item(degree,"title",v) 
    v = input("input Degree major: ")
    add_item(degree,"major",v) 
    v = input("input Degree completionDate: ")
    add_item(degree,"completionDate",v) 
    salary = int(input("Enter your salary: "))
    
    add_item(single_person,"name",name)
    add_item(single_person,"age",age)
    add_item(single_person,"work",work)
    add_item(single_person,"skills",skills)
    add_item(single_person,"degree",degree)
    add_item(single_person,"salary",salary)
    allData.append(single_person)
        
allData = []
addPersonInformation(allData)
print(allData)

Enter your name: Abdul Rehman
Enter your age: 20
Enter your work: Job
Enter your Skill: Web Development
Do you want to add more skills?y/n : y
Enter your Skill: Artificial Intelligence
Do you want to add more skills?y/n : n
input Degree title: ICS
input Degree major: major
input Degree completionDate: 12/12
Enter your salary: 15000
[{'name': 'Abdul Rehman', 'age': 20, 'work': 'Job', 'skills': ['Web Development', 'Artificial Intelligence'], 'degree': {'title': 'ICS', 'major': 'major', 'completionDate': '12/12'}, 'salary': 15000}]

In [1]:
start  = int(input("Enter start number"))
end = int(input("Enter end number"))
for j in range (start,end+1):
    print("")
    for i in range(1,11):
        print(str(j)+" * "+str(i)+" = "+str((j*i)))

Enter start number1
Enter end number5

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
1 * 10 = 10

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30

4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [44]:
start  = int(input("Enter start number"))
end = int(input("Enter end number"))
for j in range (1,11):
        for i in range(start,end+1):
            print(str(i)+" * "+str(j)+" = "+str((i*j)),"\t",end="")
        print("")

Enter start number1
Enter end number5
1 * 1 = 1 	2 * 1 = 2 	3 * 1 = 3 	4 * 1 = 4 	5 * 1 = 5
1 * 2 = 2 	2 * 2 = 4 	3 * 2 = 6 	4 * 2 = 8 	5 * 2 = 10
1 * 3 = 3 	2 * 3 = 6 	3 * 3 = 9 	4 * 3 = 12 	5 * 3 = 15
1 * 4 = 4 	2 * 4 = 8 	3 * 4 = 12 	4 * 4 = 16 	5 * 4 = 20
1 * 5 = 5 	2 * 5 = 10 	3 * 5 = 15 	4 * 5 = 20 	5 * 5 = 25
1 * 6 = 6 	2 * 6 = 12 	3 * 6 = 18 	4 * 6 = 24 	5 * 6 = 30
1 * 7 = 7 	2 * 7 = 14 	3 * 7 = 21 	4 * 7 = 28 	5 * 7 = 35
1 * 8 = 8 	2 * 8 = 16 	3 * 8 = 24 	4 * 8 = 32 	5 * 8 = 40
1 * 9 = 9 	2 * 9 = 18 	3 * 9 = 27 	4 * 9 = 36 	5 * 9 = 45
1 * 10 = 10 	2 * 10 = 20 	3 * 10 = 30 	4 * 10 = 40 	5 * 10 = 50